* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #5c1111;
}

main {
    padding: 1em;
}

h1 {
    color: steelblue;
}

footer {
    background: #111;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 1em;
    align-self: flex-end;
}